<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Wolves</h1>
Wolves are a class of the canine family,
and they seem to do very well in the right
environment. In fact, they are the largest of
all canines with exception of some dog species.
They are meat eaters and can range in size considerably
depending on where they live. Some of them are only
about 55 pounds full grown while others can be up to 200 pounds.
They can range in size from 40 to 65 inches in length.
Such a measurement is from the tip of the nose to the end of the tail
</body>
</html>